
@media screen and (max-width:1200px) {
    
}

*{
    box-sizing: border-box;
}

*.container{
    max-width: 1200px;
}

body{
    font-family:"Poppins", sans-serif;
}

h1{
    font-size: 2.027rem;
    font-weight: ;
}
h2{
    font-size: 1.802rem;
    font-weight: 450;
}
h3{
    font-size: 1.266rem;
}

h4{
    text-transform: uppercase;
}

.sweetheart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.sweetheartimg{
    width: 25%;
}

img{
    border-radius:25px ;
    width:100%;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    :nth-child(1){
        grid-column: 1/2;
    }
    :nth-child(2){
        grid-column: 4/5;
    }
    /* display:flex;
    justify-content: space-between; */
}

ul{
    list-style: none;
}

li{
    display:inline;
    float: left;
}

a:link{
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

a:visited{
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
}

button{
    background-color: #000;
    color: #fff;
    border: #000;
    border-radius: 5%;
    padding:5px 15px;
}

.behind-the-dough{
    height: 350px;
    padding: 20px;
    background-color: #f8fafc;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    column-gap: 20px;
    :nth-child(1){
        grid-column: 1/3;
        text-align:center;
    }
}

.what-people-are-saying{
    height: 350px;
    padding: 20px;
    background-color: #000;
    color:#fff;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    :nth-child(1){
        grid-column: 1/4;
        text-align:center;
    }
    :nth-child(2){
        grid-column: 1/2;
    }
}

.person{
    font-style: oblique;
}


.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 10px;
}

.ride-or-die{
    width:100%;
    grid-column: 1/2
}

.brownie-beast{
    width: 100%;
    grid-column: 2/3;
}

.cookie-monsta{
    width: 100%;
    grid-column: 3/4;
}

.want-smore{
    width: 100%;
    grid-column: 4/5;
}

.flavor-name{
    text-align: center;
    background-color: #f8fafc;
}

/* .try-it-with{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    :nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    :nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }
    :nth-child(3){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    :nth-child(4){
        grid-column: 2/3;
        grid-row: 2/3;
    } */


    /* .product1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .product2{
        grid-column: 2/3;
        grid-row: 1/2;
    } */
    


/* :nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
} */


/* .try-it-with{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.try-it-with :nth-child(1){
    flex-grow: 1;
}

.try-it-with :nth-child(2){
    flex-grow: 1;
}

.try-it-with :nth-child(3){
    flex-grow: 1;
}

.try-it-with :nth-child(4){
    flex-grow: 1;
} */

/* .try-it-with{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(1){
        grid-template-areas:
        "flavorimg1 flavorimg2 flavorimg3"
        ;
    }

}

.flavorimg1{
    max-width: 400px;
} */

footer{
    background-color: #000;
    color: #f8fafc;
    text-align: center;
}

